.header-search-container {
  height: 200px;
  position: relative;
}

.header-search {
  position: absolute;
  bottom: 20px;
  transform: translateX(50%);
}

.content-wrapper {
  background: radial-gradient(312.01px at 53.46% -21.35%, rgba(5, 112, 172, 0.46) 0%, rgba(8, 27, 35, 0) 100%);
  background-color: #081B23;
  min-height: 100vh;
  min-width: 100vw;
  color: #fff;
  background-color: #081B23;
}

.body-display {
  
}